@import '../../variables.scss';

$details-height: 170px;

.car-credit {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__view {
    display: flex;
    height: $details-height;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 20px rgba(35, 35, 35, 0.2);
    margin-bottom: 20px;
    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
      align-content: center;
      width: 100%;
      height: auto;
    }
  }

  &__cross-button {
    background-color: transparent;
    border: none;
    color: #828282;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  &__grow {
    flex-grow: 1;
  }
  &__container {
    padding: 40px 0;
  }
  &__name {
    font-weight: bold;
  }

  &__title {
    display: flex;
    margin-bottom: 30px;
    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
      align-content: center;
    }
  }

  &__title-calc {
    font-size: 32px;
    font-weight: 900;
    margin-right: 10px;
    @media screen and (max-width: $mobileWidth) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  &__title-model {
    font-size: 32px;
    color: #828282;
    @media screen and (max-width: $mobileWidth) {
      font-size: 24px;
    }
  }

  &__details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
      align-content: center;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      align-items: start;
      margin-right: 100px;
      @media screen and (max-width: $mobileWidth) {
        flex-direction: column;
        align-content: center;
        margin-right: 0;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__discount {
        background-color: $main-color;
        color: white;
        height: 25px;
        line-height: 25px;
        border-radius: 10px;
        padding: 0 8px;
        align-self: center;
        margin-bottom: 10px;
      }
    }
  }
  &__labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
      align-content: center;
    }
  }

  &__img {
    height: $details-height;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
  }

  &__name {
    @media screen and (max-width: $mobileWidth) {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-self: center;
      margin-bottom: 20px;
      text-emphasis: center;
    }
  }

  &__dealer {
    display: flex;
    justify-content: flex-end;
    color: #828282;
    font-size: 16px;
    @media screen and (max-width: $mobileWidth) {
      font-size: 12px;
    }

    &-address {
      margin: 0 20px 0 10px;
    }

    &-phone {
      margin: 0 20px 0 10px;
      white-space: nowrap;
    }
  }
}
