.questions{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;

  &__button{
    width:300px;
    height:60px;
    border:1px solid #f98D56;
    border-radius:8px;
    background-color: transparent;
    color:#f98D56;
    font-weight:900;
  }

  &__text{
    text-align:left;
    margin-right:150px;
    &-title{
      font-weight:900;
      margin-bottom:10px;
    }
    &-p{
      color:#828282;
    }

  }


}

.fa-question-circle{
  color:#f98D56;
}


