.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-content:center;
  }

  &__button {
    width: 300px;
    height: 60px;
    border: 1px solid #f98d56;
    border-radius: 8px;
    background-color: transparent;
    color: #f98d56;
    font-weight: 900;
  }

  &__text {
    text-align: left;
    @media screen and (max-width: 1024px) {
      text-align:center;
      margin-bottom:20px;
    }
    &-title {
      font-weight: 900;
      margin-bottom: 10px;
      @media screen and (max-width: 1024px) {
        margin-bottom:20px;
    }
  }
    &-p {
      color: #828282;
    }
  }
}

.fa-question-circle {
  color: #f98d56;
  @media screen and (max-width: 1024px) {
    margin-bottom:20px;
}
}

