.labeled-value {
  flex-grow: 1;
  text-align: left;
  @media screen and (max-width: 1024px) {
    height:auto;
    text-align:center;
    padding-bottom:20px;
  }

  &__label {
    font-size: 14px;
    color: #a0a0a0;
  }
  &__value {
    font-size: 24px;
    color: #828282;
    font-weight: 900;
    margin-top: 20px;
    &_highlight {
      color: black;
      font-size: 26px;
    }
  }
}
