.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;

    &-wrapper{
      padding:40px 20px;
    }
  }
  &__cross-button {
    background-color: transparent;
    border: none;
    color: #828282;
    padding: 10px;
    position: absolute;
    right: 10px;
  }

  &__img {
    color: #f98d56;
    padding-bottom: 20px;

  }
  &__title {
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  &__p {
    padding-bottom: 20px;
    color: #828282;
    font-weight: 700;
  }
  &__return-button {
    background-color: #f98d56;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
