<div ngClass="car-credit-calc">
  <div ngClass="car-credit-calc__title">Настройки кредита</div>
  <div ngClass="car-credit-calc__ranges">
    <app-credit-range
      [title]="'Первоначальный взнос'"
      [min]="calc.minFirstPayment"
      [max]="calc.maxFirstPayment"
      [step]="calc.firstPaymentStep"
      [value]="calc.firstPaymentValue"
      [units]="'rubles'"
      [altValue]="calc.altValueFirstPay"
      [onChange]="calc.onChangeFirstPaymentValue"
    ></app-credit-range>
    <app-credit-range
      [title]="'Готов платить'"
      [min]="calc.minWillPay"
      [max]="calc.maxWillPay"
      [step]="calc.willPayStep"
      [value]="calc.willPayValue"
      [units]="'rubles'"
      [onChange]="calc.onChangeWillPayValue"
    ></app-credit-range>
    <app-credit-range
      [title]="'Срок кредита'"
      [min]="calc.minTerm"
      [max]="calc.maxTerm"
      [step]="calc.termStep"
      [value]="calc.termValue"
      [units]="'months'"
      [onChange]="calc.onChangeTermValue"
    ></app-credit-range>
  </div>
  <div ngClass="car-credit-calc__values">
    <app-labeled-value
      [label]="'Сумма\u00A0выплат'"
      [value]="calc.totalSumm | rubles"
    ></app-labeled-value>

    <app-labeled-value
      [label]="'Процентная\u00A0ставка'"
      [value]="calc.creditRate + '%'"
    ></app-labeled-value>

    <app-labeled-value
      [label]="'Платеж в\u00A0месяц'"
      [value]="calc.monthlyPayment | rubles"
      [highlight]="true"
    ></app-labeled-value>
    
    <button ngClass="car-credit-calc__values-button" (click)="onSubmit()">Отправить заявку</button>
  </div>
</div>
