
.car-credit-calc {
  background: white;
  padding: 40px 0;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction:column;
  }
  &__title {
    text-align: left;
    text-transform: uppercase;
    color: #777;
  }

  &__ranges {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
    @media screen and (max-width: 1024px) {
      flex-direction:column;
      align-content: center;
    }
  }

  &__values {
    display: flex;
    justify-content: space-between;
  }

  &__values-button {
    background-color: #f46142;
    border: none;
    border-radius: 10px;
    color: white;
    width: 300px;
  }
}
