<div ngClass="credit-range">
  <div ngClass="credit-range__title">{{ title }}</div>
  <div ngClass="credit-range__values">
    <div ngClass="credit-range__values-value">
      {{ units === 'rubles' ? (value | rubles) : units === 'months' ? (value | period) : value }}
    </div>
    <div ngClass="credit-range__values-alt-value">{{ altValue }}%</div>
  </div>
  <input
    ngClass="credit-range__input"
    type="range"
    min="{{ min }}"
    max="{{ max }}"
    step="{{ step }}"
    [(ngModel)]="value"
    (ngModelChange)="onChange(value)"
  />
  <div
    ngClass="credit-range__input-thumb"
    [ngStyle]="{ width: ((value - min) / (max - min)) * 100 + '%' }"
  ></div>
</div>
