@import '../../variables.scss';

:host {
  width: 33%;
  position: relative;
}

:host:not(:last-child) {
  margin-right: 20px;
}

$input-height: 2px;
$border-color: #bbb;

.credit-range {
  height: 70px;
  border: 1px solid $border-color;
  border-radius: 10px 10px 0 0;
  background-color: #fafafa;
  padding: 20px;
  padding-bottom: 0;
  min-width:70px;

  &__title {
    color: #777;
    margin-bottom: 20px;
  }

  &__values {
    display: flex;
    justify-content: space-between;
    &-value {
      color:black;
      font-weight:700;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    height: $input-height;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $border-color;
    cursor: pointer;

    &-thumb {
      height: $input-height;
      position: absolute;
      bottom: 0;
      background-color: $main-color;
      width: 30%;
      left: 0;
    }
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: $main-color;
    border: solid 4px white;
    border-radius: 100%;
    z-index: 2;
    position: relative;
  }
}
