/* You can add global styles to this file, and also import other style files */
@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './variables.scss';

html,
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  @media screen and (max-width: $mobileWidth) {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  width: 1000px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background-color: #f2f2f2;
}
